# Container defaults for Debian Etch's MySQL 5.0 server.
[client]
port            = 3306
socket          = /var/run/mysqld/mysqld.sock

[mysqld]
user            = mysql
port            = 3306
socket          = /var/run/mysqld/mysqld.sock
pid-file        = /var/run/mysqld/mysqld.pid
datadir         = /var/lib/mysql
bind-address    = 0.0.0.0
old_passwords   = 0

[mysqld_safe]
socket          = /var/run/mysqld/mysqld.sock
